*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;;
}

button{
    border: none;
}

body{
    background-color: rgb(235, 230, 230);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.overall-section{
    max-width: calc(calc(100vw - 0px) - 16px*2);
    width: 100%;
    margin: 0 16px;
}

#first-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
    padding: 32px 0px 12px;
}

.header-content-block{
    padding: 0 16px 0 16px;
}

.header-title{
    padding-bottom: 72px;
}

.sidebar{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 16px;
    background-color: hsla(0,0%,100%,0.2);
}

.sidebar-logo img{
    padding-top: 4px;
}

.side-header img{
    padding-top: 4px;
    
}

.prev{
    padding:  8px 16px 9px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #121252;
    opacity: .3;
    font-weight: 500;
}

.prev-btn{
    margin-top: 27px;
}

.title{
    font-weight: 600;
    font-size: calc(50*1px + (78 - 50)*(calc(100vw - 0px) - 375*1px)/(600 - 375));
    letter-spacing: -0.04em;
    margin-top: 32px;
}

.title-header{
    display: flex;
    flex-direction: column;
    gap: 32px;
} 

.user-logos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 60px;
    max-width: 100vw;
    width: 100%;
    height: 100%;
}

.user-logos img{
    width: 100%;
    height: 100%;
}


.userLogos-block{
    max-width: 1080px;
    margin: 0 auto;
}

.modal-box{
    position: absolute;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 4px;
    display: flex;
}

.modal-box-sideList{
    background-color: #f6f9fb;
}

.nav-btn-list{
    display: flex;
}

.navbar-list-item button{
    background: transparent;
    color: #ffffff;
    border: none;
}

.right-arrow{
    translate: -6px;
}

.navbar-list-item > span{
    display: inline-flex;
}

#navProductModal{
   display: flex;
   gap: 4px;
   flex-direction: column;

}

.payment-global, .money-management, .revenue-finance{
    background-color: #ffffff;
    padding: 24px;
}

.subgroup-item{
    display: flex;
    align-items: center;
    
}

.sub-list-item-img{
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 16px;
    background-color: #f6f9fb;
}

.sub-list-item-img img{
    width: 16px;
    height: 16px;
}

.subgroups{
    margin-top: 8px;
    max-width: 620px;
    display: grid;
    grid: auto / repeat(2, 258px);
    column-gap: 20px;
    justify-content: space-between;
    align-items: start;
}

.payments-subgroups{
    padding-left: 42px;
    margin: 0;
    display: grid;
    grid: auto / auto;
    row-gap: 2px;
    padding-inline-start: 42px;
}

.product-sub-nav-item{
    outline: none;
    padding: 8px;

}

.productSubNav{
    display: inline-flex;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f6f9fc;
    font-size: 12px;
}

.modalbox-aside-items{
    padding: 24px 10px 28px 24px;
    
}

.documentation-detail{
    display: grid;
    grid: auto / repeat(2, 1fr);
    gap: 32px;
    padding: 32px 32px 24px 32px;
}

.get-started,
.guide-section{
    margin-left: 26px;
}

.start-item{
    margin-top: 8px;
}

#navDeveloperModal{
    background-color: #ffffff;
}

.document-footer{
    margin: 4px;
    border-radius: 4px;
    padding: 28px;
    display: grid;
    grid: auto / repeat(2, 1fr);
    column-gap: 32px;
}